/storage
/vendor
._htaccess
/bootstrap
bootstrap
*old*.*
.env
# /database/migrations/New folder
/public/storage/image/category
/public/assets/uploads/media-uploader
/app/Exceptions
/app/Exceptions/Handler.php
/bootstrap/cache
/bootstrap/cache/routes-v7.php
/bootstrap/cache/config.php