@font-face {
    font-family: 'BwModelica-Black';
    src: url(../font/modelica/BwModelica-Black.otf) format('otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BwModelica-ExtraBold';
    src: url(../font/modelica/BwModelica-ExtraBold.otf) format('otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'BwModelica-Bold';
    src: url(../font/modelica/BwModelica-Bold.otf) format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BwModelica-Medium';
    src: url(../font/modelica/BwModelica-Medium.otf) format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BwModelica-Regular';
    src: url(../font/modelica/BwModelica-Regular.otf) format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BwModelica-Light';
    src: url(../font/modelica/BwModelica-Light.otf) format('otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BwModelica-Thin';
    src: url(../font/modelica/BwModelica-Thin.otf) format('otf');
    font-weight: 100;
    font-style: normal;
}


:root {
    --defualt-white: #FFFFFF;
    --defualt-blacK: #000000;
    --transparent: transparent;
    --color1: #2B948F;
    --color2: #A5DD88;
    --color3: #404341;
    --color4: #FDF884;
    --color5: #404341;
    --color6: #959595;
    --width10: 0.1rem;
    --width20: 0.2rem;
    --width30: 0.3rem;
    --width40: 0.4rem;
    --width60: 0.6rem;
    --width70: 0.7rem;
    --width80: 0.8rem;
    --width90: 0.9rem;
    --widthp10: 10%;
    --widthp20: 20%;
    --widthp30: 30%;
    --widthp40: 40%;
    --widthp60: 60%;
    --widthp70: 70%;
    --widthp80: 80%;
    --widthp90: 90%;
}

body {
    font-family: 'BwModelica-Black', sans-serif;
}

/* color classes */
.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.color3 {
    color: var(--color3);
}

.color4 {
    color: var(--color4);
}

.color5 {
    color: var(--color5);
}

.color6 {
    color: var(--color6);
}

/* BgColor classes */
.bg-color1 {
    background-color: var(--color1);
}

.bg-color2 {
    background-color: var(--color2);
}

.bg-color3 {
    background-color: var(--color3);
}

.bg-color4 {
    background-color: var(--color4);
}

.bg-color5 {
    background-color: var(--color5);
}

.bg-color6 {
    background-color: var(--color6);
}

/* border classes */
.border-color1 {
    border-color: var(--color1);
}

.border-color2 {
    border-color: var(--color2);
}

.border-color3 {
    border-color: var(--color3);
}

.border-color4 {
    border-color: var(--color4);
}

.border-color5 {
    border-color: var(--color5);
}

.border-color6 {
    border-color: var(--color6);
}

/* button classes */
.btn-jnm-primary {
    color: var(--defualt-white);
    border: 1px solid var(--color1);
    background-color: var(--color1);
}

.btn-jnm-primary:hover {
    color: var(--color1);
    border: 1px solid var(--color1);
    background-color: var(--transparent);
}

.btn-jnm-secondary {
    color: var(--color1);
    border: 1px solid var(--color4);
    background-color: var(--color4);
}

.btn-jnm-secondary:hover {
    color: var(--color4);
    border: 1px solid var(--color1);
    background-color: var(--color1);
}

.btn-jnm-third {
    color: var(--defualt-blacK);
    border: 1px solid var(--color1);
    background-color: var(--transparent);
}

.btn-jnm-third:hover {
    color: var(--defualt-white);
    border: 1px solid var(--color1);
    background-color: var(--color1);
}

/* main classes */
.text-justify {
    text-align: justify;
}

/* width classes */

.w-10 {
    width: var(--width10);
}

.w-20 {
    width: var(--width20);
}

.w-30 {
    width: var(--width30);
}

.w-40 {
    width: var(--width40);
}

.w-60 {
    width: var(--width60);
}

.w-70 {
    width: var(--width70);
}

.w-80 {
    width: var(--width80);
}

.w-90 {
    width: var(--width90);
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .w-md-10 {
        width: var(--width10);
    }

    .w-md-20 {
        width: var(--width20);
    }

    .w-md-30 {
        width: var(--width30);
    }

    .w-md-40 {
        width: var(--width40);
    }

    .w-md-60 {
        width: var(--width60);
    }

    .w-md-70 {
        width: var(--width70);
    }

    .w-md-80 {
        width: var(--width80);
    }

    .w-md-90 {
        width: var(--width90);
    }

    .w-md-p-10 {
        width: var(--widthp10);
    }

    .w-md-p-20 {
        width: var(--widthp20);
    }

    .w-md-p-30 {
        width: var(--widthp30);
    }

    .w-md-p-40 {
        width: var(--widthp40);
    }

    .w-md-p-60 {
        width: var(--widthp60);
    }

    .w-md-p-70 {
        width: var(--widthp70);
    }

    .w-md-p-80 {
        width: var(--widthp80);
    }

    .w-md-p-90 {
        width: var(--widthp90);
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .w-lg-10 {
        width: var(--width10);
    }

    .w-lg-20 {
        width: var(--width20);
    }

    .w-lg-30 {
        width: var(--width30);
    }

    .w-lg-40 {
        width: var(--width40);
    }

    .w-lg-60 {
        width: var(--width60);
    }

    .w-lg-70 {
        width: var(--width70);
    }

    .w-lg-80 {
        width: var(--width80);
    }

    .w-lg-90 {
        width: var(--width90);
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}